@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 110px;
  width: 90%;
  position: relative;
}
.nav__logo img {
  width: 150px;
  height: 50px;
}
.nav .nav__btn {
  display: none;
}
.nav .nav__links {
  display: inline;
  float: right;
  font-size: 14px;
  /* Style for the active link when clicked */
}
.nav .nav__links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ff6060;
  text-transform: uppercase;
}
.nav .nav__links a.active {
  text-decoration: underline;
  color: #ff6060; /* Text color for the active link when clicked */
}
@media (max-width: 374px) {
  .nav .nav__btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 25px;
  }
  .nav .nav__btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav .nav__btn label span {
    display: block;
    width: 25px;
    height: 2px;
    background: #ff6060; /* Background color for the hamburger lines */
    margin: 6px 0;
  }
  .nav .nav__links {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #f7f7f7; /* Background color for the dropdown menu */
    height: 140px;
    top: 80px;
    left: 0px;
    transition: all 0.3s;
    /* Afficher le menu déroulant lorsque le menu hamburger est actif */
  }
  .nav .nav__links a {
    display: flex;
    padding: 20px 0px 20px 30px;
    text-decoration: none;
  }
  .nav .nav__links.active {
    display: block;
    animation: logIn 0.3s ease-in;
  }
  .nav .nav__links.inactive {
    display: none;
    animation: logOut 0.3s ease-out;
  }
  @keyframes logIn {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
  @keyframes logOut {
    from {
      opacity: 1;
      transform: rotateX(0deg);
    }
    to {
      opacity: 0;
      transform: rotateX(90deg);
    }
  }
}

@media (mix-width: 768px) {
  .nav__links a {
    text-transform: none;
  }
}
/* Banner */
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.banner__background {
  position: relative;
  width: 90%;
  border-radius: 10px;
  background: #000000;
  mix-blend-mode: darken;
  height: 110px;
}
.banner__background.wide {
  height: 220px;
}
.banner__background img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  opacity: 0.7;
  -o-object-fit: cover;
     object-fit: cover;
  height: 110px;
}
.banner img.wide {
  height: 220px;
}
.banner h1 {
  display: block;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #f7f7f7;
  text-align: start;
  width: 80%;
  top: 15px;
}

@media (min-width: 350px) {
  .banner h1 {
    text-align: start;
    top: 10%;
  }
}
/* Media Tablete */
@media (min-width: 620px) {
  .banner__background {
    border-radius: 20px;
  }
  .banner__background img {
    border-radius: 20px;
    -o-object-fit: center;
       object-fit: center;
  }
  .banner h1 {
    font-size: 36px;
    text-align: center;
    top: 10%;
  }
}
@media (min-width: 1024px) {
  .banner__background {
    height: 220px;
  }
  .banner__background img {
    height: 220px;
  }
  .banner h1 {
    top: 25%;
    font-size: 48px;
    font-weight: 500;
  }
}
.card {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card__background {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 20px 0;
}
.card__contain {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 255px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.card__container h2 {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 20px;
  color: #f7f7f7;
  top: 180px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 60px;
}
.card__image {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Tablette */
@media (min-width: 700px) {
  .card {
    padding: 20px 0;
  }
  .card__background {
    width: 90%;
    padding: 5% 40px;
    background-color: #f7f7f7;
  }
  .card__container {
    width: 100%;
    height: 30%;
  }
}
/* Desktop*/
@media (min-width: 1024px) {
  .card__background {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3% 3%;
  }
  .card__container {
    width: 100%;
    border-radius: 20px;
  }
  .card__container {
    width: 100%;
  }
  .card__contain {
    width: 32%;
    height: 250px;
  }
  .card__image {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .card__background {
    gap: 1.6vw;
  }
}
.footer {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 220px;
}
.footer__logo img {
  height: 40px;
  width: 150px;
}
.footer__rights img {
  height: 40px;
  width: 230px;
  -o-object-fit: contain;
     object-fit: contain;
}

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px;
  gap: 15px;
}
.collapse__bar {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #ff6060;
  color: #f7f7f7;
  border-radius: 5px;
  padding: 0 10px;
}
.collapse__bar-title {
  font-size: 14px;
}
.collapse__bar-content {
  background-color: #f5f5f5;
  color: #ff6060;
  border-radius: 5px;
  padding: 1px 10px;
}
.collapse__bar-content h3 {
  font-size: 12px;
  font-weight: 400;
}
.collapse__bar-content ul {
  padding: 0;
}
.collapse__bar-content li {
  list-style: none;
  font-size: 12px;
  padding: 1px 0;
}
.collapse__arrow-down {
  height: 16px;
  cursor: pointer;
}
.collapse__arrow-up {
  position: absolute;
  height: 16px;
  opacity: 0;
}

.collapse__apartement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 13px 13px 20px 13px;
}

.collapse__bar-content.same ul {
  margin: 12px 0px;
}

@media (min-width: 768px) {
  .collapse {
    align-items: center;
  }
  .collapse__container {
    width: 85%;
    align-items: center;
  }
  .collapse__bar-content h3 {
    font-size: 24px;
    font-weight: 500;
  }
  .collapse__bar-content.same {
    height: 170px;
  }
  .collapse__apartement {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .collapse__bar-content h3 {
    font-size: 18px;
  }
  .collapse__bar-content li {
    font-size: 18px;
  }
  .collapse__bar {
    height: 50px;
  }
  .collapse__bar-content.same ul {
    margin: 17px 0px;
  }
  .collapse__bar-title {
    font-size: 14px;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.error__title {
  font-size: 96px;
  color: #ff6060;
  font-weight: 700;
  line-height: 137px;
}
.error__content {
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
  line-height: 27px;
}
.error__link {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  text-decoration: underline;
}

@media (min-width: 724px) and (max-width: 1023px) {
  .error__title {
    font-size: 144px;
  }
  .error__content {
    font-size: 18px;
    line-height: 52px;
  }
  .error__link {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .error__title {
    font-size: 288px;
  }
  .error__content {
    font-size: 36px;
    line-height: 52px;
  }
  .error__link {
    font-size: 36px;
  }
}/*# sourceMappingURL=style.css.map */