body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 110px;
  width: 90%;
  position: relative;
}
.nav__logo img {
  width: 150px;
  height: 50px;
}
.nav nav-btn {
  display: none;
}

.nav__links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav__links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ff6060;
}
.nav__links a:hover {
  text-decoration: underline;
}

#nav__check {
  display: none;
}

@media (max-width: 372px) {
  .nav__btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 25px;
  }
  .nav__btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav__btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #ff6060;
  }
  .nav__links {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    background: #f7f7f7;
    height: 140px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }
  .nav__links a {
    display: flex;
    padding: 20px 0px 20px 30px;
    text-decoration: none;
  }
  .nav__links div {
    display: block;
    width: 100%;
  }
  .nav > #nav__check:not(:checked) ~ .nav__links {
    height: 0px;
  }
  .nav > #nav__check:checked ~ .nav__links {
    overflow-y: auto;
  }
}
/* Banner */
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}
.banner__background {
  position: relative;
  width: 90%;
  border-radius: 10px;
  background: #000000;
  mix-blend-mode: darken;
  height: 110px;
}
.banner__background img {
  position: relative;
  width: 100%;
  border-radius: 10px;
  opacity: 0.7;
  -o-object-fit: cover;
     object-fit: cover;
  height: 110px;
}
.banner h1 {
  display: block;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #f7f7f7;
  text-align: start;
  width: 80%;
  top: 15px;
}

@media (min-width: 350px) {
  .banner h1 {
    text-align: start;
    top: 10%;
  }
}
/* Media Tablete */
@media (min-width: 620px) {
  .banner {
    margin-bottom: 20px;
  }
  .banner__background {
    border-radius: 20px;
  }
  .banner__background img {
    border-radius: 20px;
    -o-object-fit: center;
       object-fit: center;
  }
  .banner h1 {
    font-size: 48px;
    text-align: center;
    top: 25px;
  }
}
@media (min-width: 1024px) {
  .banner h1 {
    top: 25%;
  }
}
.card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.card__background {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card__container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 70%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(255, 96, 96) 0%, rgb(134, 53, 53) 100%);
}
.card__container h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 20px;
  color: #f7f7f7;
}

/* Tablette */
@media (min-width: 700px) {
  .card__background {
    width: 90%;
    background: #f7f7f7;
    padding: 7% 0;
  }
  .card__container {
    width: 85%;
    height: 30%;
  }
}
/* Desktop*/
@media (min-width: 1024px) {
  .card__contain {
    height: 600px;
  }
  .card__background {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3% 3%;
    gap: 0;
  }
  .card__container {
    width: 32%;
    height: 45%;
  }
}
.footer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  width: 100%;
  height: 200px;
  gap: 40px;
  margin-top: 20px;
}
.footer__logo img {
  height: 40px;
  width: 150px;
}
.footer__rights img {
  height: 40px;
  width: 230px;
}

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  gap: 5px;
}
.collapse__bar {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #ff6060;
  color: #f7f7f7;
  border-radius: 5px;
  padding: 0 10px;
}
.collapse__bar-title {
  font-size: 14px;
}
.collapse__arrow-down {
  height: 16px;
  cursor: pointer;
}
.collapse__arrow-up {
  position: absolute;
  height: 16px;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */