@import "../Utils/Variables.scss";

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px;
  gap: 15px;

  &__bar {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: $color-primary;
    color: $only-white;
    border-radius: $border-radius-s;
    padding: 0 10px;
    &-title {
      font-size: $font-size-s;
    }
    &-content {
      background-color: #f5f5f5;
      color: #ff6060;
      border-radius: 5px;
      padding: 1px 10px;
    }
    &-content h3 {
      font-size: 12px;
      font-weight: 400;
    }
    &-content ul {
      padding: 0;
    }
    &-content li {
      list-style: none;
      font-size: $font-size-xs;
      padding: 1px 0;
    }
  }
  &__arrow-down {
    height: 16px;
    cursor: pointer;
  }
  &__arrow-up {
    position: absolute;
    height: 16px;
    opacity: 0;
  }
}
// Collapse Apartement
.collapse__apartement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 13px 13px 20px 13px;
}
//liste de equipement du Apartment
.collapse__bar-content.same ul {
  margin: 12px 0px;
}

// Media Tablette

@media (min-width: 768px) {
  .collapse {
    align-items: center;

    &__container {
      width: 85%;
      align-items: center;
    }
    &__bar-content h3 {
      font-size: $font-size-s;
      font-weight: 500;
    }

    &__bar-content.same {
      height: 170px;
    }
  }
  // Collappse Apartement
  .collapse__apartement {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .collapse__bar-content li {
    font-size: $font-size-s;
  }
}

// Media Desktop
@media (min-width: 1024px) {
  .collapse__bar-content h3 {
    font-size: 18px;
  }
  .collapse__bar-content li {
    font-size: 18px;
  }
  .collapse__bar {
    height: 50px;
  }
  .collapse__bar-content.same ul {
    margin: 17px 0px;
  }
  .collapse__bar-title {
    font-size: $font-size-s;
  }
}
