@import "../Utils/Variables.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 110px;
  width: 90%;
  position: relative;

  &__logo img {
    width: 140px;
    height: 50px;
  }

  & .nav__btn {
    display: none;
  }

  .nav__links {
    display: inline;
    float: right;
    font-size: $font-size-xs;

    a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: $color-primary;
      text-transform: uppercase;
      font-weight: 500;
    }

    /* Style for the active link when clicked */
    & a.active {
      text-decoration: underline;
      color: $color-primary; /* Text color for the active link when clicked */
    }
  }

  @media (max-width: 374px) {
    .nav__btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 25px;

      & label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }

      & label span {
        display: block;
        width: 25px;
        height: 2px;
        background: $color-primary; /* Background color for the hamburger lines */
        margin: 6px 0;
      }
    }

    .nav__links {
      position: absolute;
      z-index: 1;
      width: 100%;
      background: $only-white; /* Background color for the dropdown menu */
      height: 140px;
      top: 80px;
      left: 0px;
      transition: all 0.3s;

      & a {
        display: flex;
        padding: 20px 0px 20px 30px;
        text-decoration: none;
      }

      /* Afficher le menu déroulant lorsque le menu hamburger est actif */
      &.active {
        display: block;
        animation: logIn 0.3s ease-in;
      }
      &.inactive {
        animation: LogOut 0.3s ease-in-out;
        display: none;
      }
    }
    @keyframes logIn {
      0% {
        opacity: 0;
        transform: rotateX(-90deg);
      }
      50% {
        transform: rotateX(-20deg);
      }
      100% {
        opacity: 1;
        transform: rotateX(0deg);
      }
    }
  }
  @keyframes LogOut {
    0% {
      opacity: 1;
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
  }
  @media (min-width: 425px) {
    .nav__links a {
      font-size: $font-size-s;
    }
  }
  /* Media Tablette */
  @media (min-width: 768px) {
    .nav__links a {
      text-transform: none;
      font-size: $font-size-m;
    }
  }
  @media (min-width: 1024px) {
    .nav__links a {
      font-size: $font-size-l;
    }
  }
}
